

body    {
        font-family: arial;
        }

h1      {
        color: blue;
        background-color:#009900;
        border: 1px solid;
        text-align: center;
       }
table {
        background-color: #FFFF66;
        border: 1px solid #39F;
        width: 100%;
       }
td    {
        border: 0px;
        text-align: left;
      }
p     {
        color:#FFFF66;
        text-indent: 20px;
      }

h3     {
        color:#FFCC00;
       }

.formfield{
    color: black;
    text-align: center;
    
        }

a:link	{	
		color: #306;
		}

a:visited {
		   color: #606;
		 }

a:hover	 {
		   color: #900;
	   	}

a:active {
		    color: #900;
		 }

.heading {
	      text-shadow: 3px 10px 12px #000;
         }

.surveyform  {
		  border:5px;
		  border-color:#333300;
          }

